body {
    font:  Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
#who div {
    width: 60%;
}

.bg-1 {
    background-color: #474e5d;
    color: #ffffff;
}
.bg-1 h1 {
    font-size: 7rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 900;
    font-style: normal;
}
.bg-1 img {
    border-radius: 50%;
}

.bg-2 {
    background-color: #666d7a; 
    color: #ffffff;
}
.bg-2 h3 {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
}
.bg-2 p {
    font-size: 18px;
}

.bg-3{
     background-color: #a6adbb; 
} 
.bg-3 h3 {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
}
.bg-3 h4 {
    font-weight: 600;
}


.bg-4   {
    background-color: #ccd1da; 
    
}

.bg-4 > div > div {
    width: 50%;
}

.bg-5 { 
    background-color: #2f2f2f; 
    color: #fff;
}
span.text-info {
    font-weight: 600;
}

#contact svg {
    color: white;
}
#contact .contact-me {
    color: #fff;
}
#contact a {
    text-decoration: none;
}
#contact h2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
}